# Python Data Structures and Boolean¶

In [5]:
## Boolean
##Boolean and Logical Operators
##Lists
##Comparison operators
##Dictionaries
##Tuples
##Sets

### Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [2]:
bool()

False

In [3]:
bool(2)

True

In [4]:
type(True)

bool

In [9]:
print(True,False)

True False

In [21]:
my_str="abhinav rao"

In [22]:
#my_str.        #press tab  u gonna have all string function

In [23]:
l=[1,2,3,45,6]

In [24]:
my_str.isalnum()

False

In [25]:
my_str.istitle()

False

### boolean function or variables

In [26]:

print(my_str.isalnum()) #check if all char are numbers

print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digit
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
False
False
True
False
False
False

### boolean and logical operators

In [27]:
True and True

True

In [28]:
True or False

True

In [10]:
str_exam="hello world"
my_str="krish"

my_str.isalpha() or str_exam.isnum()

True

# LIST-DATA STRUCTURE

###### Mutability refers to the ability to change an object after its creation. Mutable objects can be modified, added, or deleted after they’ve been created, while immutable objects cannot be modified after their creation

1. iterable objects=list,set,tuple,dictionary,string, bin
2. sequence=list,tuple,string,bin
3. hashable type= string,tuple,integer and bool
4. any immutable object (such as an integer, boolean, string, tuple) is hashable

LIST
1. mutable
2. nonhashable type
3. iterable
4. sequence=iterable + ordered
5. []

1. A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

2. list is unhashable type

3. hashable type = string,tuple,integer and bool

4. list can take as input as [] inside this=list,tuple,set,number,bool,bin,dictionary,string {iterables as well as hashable objects

5. a= list(b) [b=list,set,tuple,dictionary,bin and string ]

6. a= comparatives operatives are performed

7. operations like --- (in  and not in) and (is and is not) are performed

8. and , or and not are performed

9. Lists can be modified, added, or deleted after they’ve been created

10. Indexing is done

11. l1+l2 {it do concatenation} where l1 and l2 are lists

12. l1*n { it  do repeatation of l1 n times

13. list comprehension exists

In [6]:
##to take input we use 
##t=input("enter the elements").split()
#the output will be a list

### four ways of creating lists

1. a=list()
2. a=[a1,a2, ------ an]
3. list comprehension
4. t=input("enter the elements").split()    #string to list  #the output will be a list

In [14]:
n=[*range(1,10,1)]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
type([])

list

In [16]:
l1=[]

In [17]:
type(l1)

list

In [18]:
l1=list()

In [21]:
print(type(l1))

<class 'list'>

In [22]:
l1=list(1,2,3,4)

TypeError: list expected at most 1 argument, got 4

In [6]:
t=(1,2,3,4)
l1=list(t)

In [7]:
l1

[1, 2, 3, 4]

In [2]:
b=list("string")  #integer
b

['s', 't', 'r', 'i', 'n', 'g']

###### append

In [8]:
l1.append("abhinav")
l1

[1, 2, 3, 4, 'abhinav']

[1, 2, 3, 4, 5, [12, 34]]

###### insert

In [19]:
#insert in a specific order

In [20]:
li.insert(2,"mark")
li

[1, 2, 'mark', 3, 4, 5, [12, 34]]

In [24]:
a=[1,2,3,4,56,67]

In [25]:
a.insert(2,[1,2,3])

In [26]:
a

[1, 2, [1, 2, 3], 3, 4, 56, 67]

In [29]:
a[2][2]

3

###### extend

In [10]:
l2=[23,45,674,12]
l1.extend(l2)

In [11]:
l1

[1, 2, 3, 4, 'abhinav', 23, 45, 674, 12]

In [40]:
lis=[1,2,34,5,6]
lis.extend([34,67,89])

In [41]:
lis

[1, 2, 34, 5, 6, 34, 67, 89]

###### reverse

In [42]:
lis.reverse()

In [43]:
lis

[89, 67, 34, 6, 5, 34, 2, 1]

#### various operations that we can perform in list

In [44]:
sum(lis)

238

In [45]:
lis.pop()

1

In [46]:
lis.pop(0) #it takes index number

89

In [48]:
lis.append(1)

In [49]:
lis

[67, 34, 6, 5, 34, 2, 1]

In [50]:
lis.count(1)

1

In [51]:
lis.index(2,0,3)

ValueError: 2 is not in list

In [52]:
max(lis)

67

In [53]:
min(lis)

1

In [54]:
lis*2

[67, 34, 6, 5, 34, 2, 1, 67, 34, 6, 5, 34, 2, 1]

In [63]:
l1=[1,2,3,5]
names=["abhi","roy","reader"]

nels=[l1,names]
nels

[[1, 2, 3, 5], ['abhi', 'roy', 'reader']]

In [64]:
l1

[1, 2, 3, 5]

In [65]:

l1.remove(3)
l1

[1, 2, 5]

In [68]:
l1.extend([12,34,45])

In [69]:
l1

[1, 2, 5, 12, 34, 45]

In [70]:
#to delete multiple values
del l1[2:]

In [71]:
l1

[1, 2]

In [78]:
l2=[1, 2, 5, 12, 100,4, 45]
l2.index(2)
l2.sort(reverse=True)
l2

[100, 45, 12, 5, 4, 2, 1]

In [79]:
l2=[1, 2, 5, 12, 100,4, 45]
l2.index(2)
l2.sort(key=lambda x: -x)
l2

[100, 45, 12, 5, 4, 2, 1]

In [80]:
l3=[1, 2]
l3.clear()

In [81]:
l3

[]

#### copy

In [86]:
l2=[100, 45, 12, 5, 4, 2, 1]

In [87]:
l4=l2

In [88]:
l4

[100, 45, 12, 5, 4, 2, 1]

In [89]:
l4[1]=200

In [93]:
print("{} ".format(l4),"\n")
print("{} ".format(l2))

[100, 200, 12, 5, 4, 2, 1]

[100, 200, 12, 5, 4, 2, 1]

In [98]:
l6=[100, 45, 12, 5, 4, 2, 1]

copy

In [100]:
l5=l6.copy()

In [101]:
l5

[100, 45, 12, 5, 4, 2, 1]

In [102]:
l5[1]=200

In [103]:
print("{} ".format(l5),"\n")
print("{} ".format(l6))

[100, 200, 12, 5, 4, 2, 1]

[100, 45, 12, 5, 4, 2, 1]

### concatenation

In [107]:
##combining the list
print(l2)
print(l6)

[100, 45, 12, 5, 4, 2, 1]
[100, 45, 12, 5, 4, 2, 1]

In [109]:
l_con1=l2+l6

In [110]:
l_con1

[100, 45, 12, 5, 4, 2, 1, 100, 45, 12, 5, 4, 2, 1]

In [113]:
l_con1=l2-l6

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### string to list

In [21]:
s="abhinavrao258@gmail.com@raga@reter"

In [22]:
a=s.split(sep="@")  #return a list

In [23]:
a

['abhinavrao258', 'gmail.com', 'raga', 'reter']

In [24]:
type(a)

list

In [25]:
x,b,c,d=s.split(sep="@")

In [26]:
x

'abhinavrao258'

In [27]:
type(x)

str

In [28]:
l=["a"]

In [29]:
l

['a']

In [32]:
e,b=['abc', 'gmail.com']
print(e)   #list

abc

In [33]:
type(e)

str

In [45]:
list1=input("enter the elements").split()
print(list1)

enter the elementser tr ty
['er', 'tr', 'ty']

In [34]:
animal=["dog","cat","cow","sheep","horse"]
"cat" in animal

True

In [46]:
a=[1,3,5,7,9]
b=[2,4,6,8,10]
a>b

False

#### sorted

In [36]:
n=[3,4,1,2,6,5,9,88,1,88]
sorted(n)

[1, 1, 2, 3, 4, 5, 6, 9, 88, 88]

In [40]:
n=[3,4,1,2,6,5,9,88,1,88]
sort(n)

NameError: name 'sort' is not defined

In [43]:
n.sort()
n

[1, 1, 2, 3, 4, 5, 6, 9, 88, 88]

#### zip

In [5]:
a=[1,2,3,4]
b=[1,23,54,67]
zip(a,b)   #returns a tuple
#besides a tuple, we can use list and set

In [6]:
a=[1,2,3,4]
b=[1,23,54,67]
tuple(zip(a,b))

((1, 1), (2, 23), (3, 54), (4, 67))

In [8]:
t=input("enter the elements").split()
l=input("enter the elements").split()
print(tuple(zip(t,l)))

enter the elements1 2 3 4
enter the elements2 34 45 5
(('1', '2'), ('2', '34'), ('3', '45'), ('4', '5'))

In [9]:
t=input("enter the elements").split("@")
l=input("enter the elements").split("#")
print(tuple(zip(t,l)))

enter the elements1@23@45@36
enter the elements1#121#452#678
(('1', '1'), ('23', '121'), ('45', '452'), ('36', '678'))

In [10]:
 squares = []
for x in range(10):
    y=x**2
    squares.append(y)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# list comprehension

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition

In [8]:
##[expr for val in collection]
##the first expression generates the elements in the list 
#you follow this with a for loop over collection of the data
##[expr for val in collection if <test>]
##[expr for val in collection if <test1> and <test2>]
##[expr for val in coll1 and val2 in coll2]

In [12]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
a=[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
print(a)
len(a)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

7

In [16]:
a=[(x, y) for x in [1,2,3] for y in [3,1,4] if x == y]
print(a)
len(a)

[(1, 1), (3, 3)]

2

In [17]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
         if x != y:
            combs.append((x, y))
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

Note how the order of the for and if statements is the same in both these snippets.

In [19]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [20]:
[x for x in vec if x>=0]

[0, 2, 4]

In [23]:
ve = [-4.2, -2.6, 0, 2.5, 4.6]

[abs(x) for x in ve]

[4.2, 2.6, 0, 2.5, 4.6]

In [25]:
freshfruit=['  banana', '  loganberry ', 'passion fruit  ']

If the expression is a tuple (e.g. the (x, y) in the previous example), it must be parenthesized

In [2]:
[(x, x**2) for x in range(6)]  ## the tuple must be parenthesized, otherwise an error is raised

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [5]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[y for x in vec for y in x]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [12]:
##=any prime number
p_remainder=[x**2 %3 for x in range(0,3)]
print(p_remainder)
len(p_remainder)

[0, 1, 1]

3

In [16]:
movies=[("Citizen Kane", 1941), ("Spirited Away", 2001), ("It's a Wonderful Life", 2003)]

In [17]:
[x for x in movies if x[1]>2000]

[('Spirited Away', 2001), ("It's a Wonderful Life", 2003)]

In [18]:
[x for (x,year) in movies if year>2000]

['Spirited Away', "It's a Wonderful Life"]

###### cartesian product

In [21]:
A=[1,2,3,4]
B=[3,5,4,6]
c_p=[(a,b) for a in A for b in B]
c_p

[(1, 3),
 (1, 5),
 (1, 4),
 (1, 6),
 (2, 3),
 (2, 5),
 (2, 4),
 (2, 6),
 (3, 3),
 (3, 5),
 (3, 4),
 (3, 6),
 (4, 3),
 (4, 5),
 (4, 4),
 (4, 6)]

###### nested list comprehension

In [2]:
 matrix = [
[1, 2, 3, 4],
[5, 6, 7, 8],
[9, 10, 11, 12],
]

In [3]:
for row in matrix:
    print(row)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [5]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [6]:
transposed = []
for i in range(4):
    
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
 matrix = [
[1, 2, 3, 4],
[5, 6, 7, 8],
[9, 10, 11, 12],
]
new=[]
for x in range(4):
    for y in range(3):
        if x>=y
        append([matrix[x]])

#### zip

In [8]:
 list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [12]:
v=[11,2,3]
w=[12,134,6]
x=[12,14,56]
a=list(zip(v,w,x))
a

[(11, 12, 12), (2, 134, 14), (3, 6, 56)]

In [16]:
b=list(zip(*a))
b

[(11, 2, 3), (12, 134, 6), (12, 14, 56)]

In [22]:
transposed=[]
for x in range(4):
    transposed_row=[]
    for row in matrix:
         transposed_row.append(row[x])
    transposed.append(transposed_row)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [23]:
mail_eg = "Hi Boss, this is to inform you that I am under the weather. So I will working from home and will be available on calls.Thanks."

In [24]:
sentences_in_mail = mail_eg.split('.')
print(sentences_in_mail)

['Hi Boss, this is to inform you that I am under the weather', ' So I will working from home and will be available on calls', 'Thanks', '']

#### join

In [26]:
mail = " ".join(sentences_in_mail)
print(mail)

Hi Boss, this is to inform you that I am under the weather  So I will working from home and will be available on calls Thanks

In [32]:
sentences_in_mail="hello @ esw! is this here 4 rer"

In [33]:
mail = ",".join(sentences_in_mail)
print(mail)

h,e,l,l,o, ,@, ,e,s,w,!, ,i,s, ,t,h,i,s, ,h,e,r,e, ,4, ,r,e,r

In [34]:
mail = "@".join(sentences_in_mail)
print(mail)

h@e@l@l@o@ @@@ @e@s@w@!@ @i@s@ @t@h@i@s@ @h@e@r@e@ @4@ @r@e@r

In [36]:
mail.split(sep="@")

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 '',
 '',
 ' ',
 'e',
 's',
 'w',
 '!',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'h',
 'e',
 'r',
 'e',
 ' ',
 '4',
 ' ',
 'r',
 'e',
 'r']

In [2]:
l=["1","2"]
l

['1', '2']

##### list from tuple

In [4]:
l=[(1,23),(3,4)]
l

[(1, 23), (3, 4)]

##### list from sets

In [6]:
l=[{1,2,3},{2,3,4,4}]
l

[{1, 2, 3}, {2, 3, 4}]

##### lists from dictionary

In [8]:
l=[{1:"a",2:"b",3:"c"},{12,3,4,56,6,6}]

In [9]:
l

[{1: 'a', 2: 'b', 3: 'c'}, {3, 4, 6, 12, 56}]

## SORTED

it will always return a list
1. it is used to sort any data structures however in case of dictionary it will sort the keys only
2. ds {ds can be any data structures as well as iterable object}
3. sorted(ds,key=any function ,reverse=False)

In [3]:
l1="string"
sorted(l1,reverse=True)

['t', 's', 'r', 'n', 'i', 'g']

## Python’s enumerate()

Python’s enumerate() to get a counter and the value from the iterable at the same time!

In [11]:
##Use enumerate() to get a counter in a loop
##Apply enumerate() to display item counts
##Use enumerate() with conditional statements
##Implement your own equivalent function to enumerate()
##Unpack values returned by enumerate()

In [11]:
l=[("Citizen Kane", 1941), ("Spirited Away", 2001), ("It's a Wonderful Life", 2003)]
a=list(enumerate(l))

In [12]:
a

[(0, ('Citizen Kane', 1941)),
 (1, ('Spirited Away', 2001)),
 (2, ("It's a Wonderful Life", 2003))]

In [13]:
a[1]

(1, ('Spirited Away', 2001))

In [15]:
a=[1,2,3,4,6]
a.index(1)

0

In [16]:
for x in a:
    print(a.index(x),":",x)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 6

In [17]:
for x,y in enumerate(a):
    print(x,y)

0 1
1 2
2 3
3 4
4 6