# sets

1. iterable objects=list,set,tuple,dictionary,string, bin
2. sequence=list,tuple,string,bin
3. hashable type= string,tuple,integer and bool

sets-
1. mutable
2. non hashable type
3. iterable
4. it is not a sequence
5. {} return unique values (no duplicate values)

#### keypoints about sets

1. A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class          represents the mathematical notion of a set.This is based on a data structure known as a hash table

2.  hashable type are-- an integer, boolean, string, tuple 

3. sets takes only hashable type as objects inside this {}

4. indexing is not done in set

5. we  can add elements-- (such as an integer, boolean, string, tuple) [only add hashable type]

6. In Python, any immutable object (such as an integer, boolean, string, tuple) is hashable, meaning its value does not change during its lifetime. This allows Python to create a unique hash value to identify it, which can be used by dictionaries to track unique keys and sets to track unique values.

7. set expected at most 1 argument, got 7

8. create from iterable objects----[b= list,set,tuple,dictionary,bin and string using] a=set(b)

9. NOTE- bool is not iterable object

10. 'set' object is not subscriptable

11.  set comprehension exists

In [1]:
set_var()=set()
print(set_var)

SyntaxError: cannot assign to function call (<ipython-input-1-bd96ecf1be31>, line 1)

In [7]:
set_var=set()
print(set_var)
type(set_var)

set()

set

In [1]:
set_var={1,2,34,56,8,9,1}
set_var

{1, 2, 8, 9, 34, 56}

In [16]:
set_var={"avengers","ironman","Hitman"}
print(set_var)
type(set_var)

{'ironman', 'avengers', 'Hitman'}

set

#### indexing is not done in set

In [20]:
set_var["avengers"]

TypeError: 'set' object is not subscriptable

###### add

In [22]:
#inbuilt function in set

set_var.add("hulk")

In [23]:
set_var

{'Hitman', 'avengers', 'hulk', 'ironman'}

In [24]:
set_var.add(["hulk","eternals"])

TypeError: unhashable type: 'list'

In Python, any immutable object (such as an integer, boolean, string, tuple) is hashable, meaning its value does not change during its lifetime. This allows Python to create a unique hash value to identify it, which can be used by dictionaries to track unique keys and sets to track unique values.

###### (such as an integer, boolean, string, tuple)

In [26]:
set_var.add(("hulk","eternals"))
set_var

{('hulk', 'eternals'), 'Hitman', 'avengers', 'hulk', 'ironman'}

In [28]:
set_var.add(True)
set_var

{('hulk', 'eternals'), 'Hitman', True, 'avengers', 'hulk', 'ironman'}

In [42]:
set_var.add({1,2,3})
set_var

TypeError: unhashable type: 'set'

In [35]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk"}

###### difference

In [36]:
set2.difference(set1)

{'Hulk'}

In [37]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [38]:
#difference update

set2.difference_update(set1)
set2

{'Hulk'}

In [41]:
set3={1,2,3,4,5,6}
set3.difference({5,6})

{1, 2, 3, 4}

In [60]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk"}

In [61]:
#intersection

set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [62]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [63]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'Ironman'}

In [64]:
#length

len(set2)

3

In [69]:
set2.remove("Avengers")

In [70]:
set2

{'Hitman', 'Ironman'}

## creating set in a faster way

In [ ]:
create from iterable objects---- list,set,tuple,dictionary,bin and string

In [4]:
example=set([12,3,4,5,12])  #list

In [7]:
example_set=set({12,3,4,5,12})  #set
example_set

{3, 4, 5, 12}

In [8]:
example_tuple=set((12,3,4,5,12))  #tuple
example_tuple

{3, 4, 5, 12}

In [10]:
example_string=set("string")  #string
example_string

{'g', 'i', 'n', 'r', 's', 't'}

In [12]:
example_dic=set({1:"hello",1:"bello"})  #dictionary
example_dic

{1}

In [14]:
example_dic=set({1:"hello",1:"bello",2:"bolti"})  #dictionary #filter out unique keys
example_dic

{1, 2}

In [15]:
example_dic=set(1,2,3,4,5,6,7)  #int
example_dic

TypeError: set expected at most 1 argument, got 7

In [16]:
example_bin=set(bin(56))  #bin
example_bin

{'0', '1', 'b'}

In [17]:
example_bool=set(True)  
example_bool

TypeError: 'bool' object is not iterable

In [18]:
example_bool=set(bool(True,False))  
example_bool

TypeError: bool expected at most 1 argument, got 2

In [5]:
example

{3, 4, 5, 12}

In [73]:
example.clear()
len(example)

0

In [2]:
set1={"Avengers","Ironman","Hitman"}
set2={"Avengers","Ironman","Hitman","Hulk"}

In [3]:
print(set1)
set1.pop()
set1

{'Ironman', 'Hitman', 'Avengers'}

{'Avengers', 'Hitman'}

In [76]:
set1.pop("Hitman")  ## pop() takes no arguments (1 given)
set1

TypeError: pop() takes no arguments (1 given)

In [77]:
set3={"eternals"}

In [78]:
set2.update(set3)
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [81]:
set2.discard("Hulk")  #Remove an element from a set if it is a member.
#If the element is not a member, do nothing.
#discard() takes exactly one argument

In [82]:
set2

{'Avengers', 'Hitman', 'Ironman', 'eternals'}

In [83]:
#set2.remove()
#remove an element from a set; it must be a member.
#If the element is not a member, raise a KeyError.

In [87]:
set2

{'Avengers', 'Hitman', 'Ironman', 'eternals'}

In [88]:
set1={"Avengers","Ironman","Hitman"}
set1

{'Avengers', 'Hitman', 'Ironman'}

In [85]:
set2.isdisjoint(set1)

False

In [89]:
set1.issubset(set2)

True

In [91]:
example1={1,2,{1,2,3},4}

TypeError: unhashable type: 'set'

In [93]:
set2.issuperset(set1)

True

In [95]:
set1={"Avengers","Ironman","Hitman"}
set2={'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [102]:
set2.symmetric_difference(set1)

#symmetric_difference( ) function ouputs a function which contains elements that are in one of the sets.

{'Hulk', 'eternals'}

In [104]:
set1.symmetric_difference(set2)

{'Hulk', 'eternals'}

In [103]:
set2.difference(set1)

#difference( ) function ouptuts a set which contains elements that are in set1 and not in set2.

{'Hulk', 'eternals'}

In [105]:
set1.difference(set2)

set()

In [109]:
example=set({1,2,3})
example

{1, 2, 3}

### dict to sets

In [115]:
example=set({1:"a",2:"b",3:"c"})
for x in example:
    print(x)

1
2
3

In [116]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [117]:
new=set2

In [118]:
new

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [119]:
new.add("avatar")

In [120]:
new

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'avatar', 'eternals'}

In [121]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'avatar', 'eternals'}

### copy vs =("equals")

In [25]:
#copy

In [26]:
set2={'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [27]:
new=set2.copy()

In [21]:
new

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [22]:
new.add("avatar")
new

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'avatar', 'eternals'}

In [23]:
set2
#when we use copy it will change value in intial set

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [ ]:
#=

In [28]:
set2={'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [31]:
new=set2

In [32]:
new

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'eternals'}

In [33]:
new.add("avatar")
new

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'avatar', 'eternals'}

In [34]:
set2
#when we use #= then we use

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'avatar', 'eternals'}

### List to sets and vice versa

In [133]:
list_with_duplicates = ['A','B','A','C','D','C','C','B']
set5=set(list_with_duplicates)
set5

{'A', 'B', 'C', 'D'}

In [135]:
list1=list(set5)
list1

['C', 'B', 'A', 'D']

##First, convert the lists into sets and store them as set_1 and set_2. Then store the difference and symmetric difference in answer_1 and answer_2 respectively. Print both the answers as sorted lists, i.e. convert the final sets to lists, sort it and then return it.

In [142]:
l1=[1,2,3,4,5]
l2=[2,4,6,8,10]
s1=set(l1)
s2=set(l2)
a=s2.difference(s1)
b=s2.symmetric_difference(s1)
print(a)
print(b)
x=list(a)
y=list(b)

{8, 10, 6}
{1, 3, 5, 6, 8, 10}

In [144]:
print(x)
print(y)

[8, 10, 6]
[1, 3, 5, 6, 8, 10]

In [146]:
x.sort()
x

[6, 8, 10]

In [147]:
y.sort()
y

[1, 3, 5, 6, 8, 10]

# sets comprehension

In [149]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [151]:
b={ x**2 for x in range(4)}
b

{0, 1, 4, 9}

In [153]:
b={ (x,y) for x in range(2) for y in range(2)}
b

{(0, 0), (0, 1), (1, 0), (1, 1)}

In [155]:
c={(1,2),(3,4)}
c

{(1, 2), (3, 4)}

#### important

In [156]:
d={[1,2],(3,4)}
d

TypeError: unhashable type: 'list'

In [35]:
c={(1,2),(3,4)}
c

{(1, 2), (3, 4)}

In [36]:
c={(1,2),"string",1,True}
c

{(1, 2), 1, 'string'}

In [2]:
c=set("abhi")

In [3]:
c

{'a', 'b', 'h', 'i'}

In [8]:
c=set([1,2,3])

In [9]:
c

{1, 2, 3}