# DATA STRUCTURE- TUPLE

###### Mutability refers to the ability to change an object after its creation. Mutable objects can be modified, added, or deleted after they’ve been created, while immutable objects cannot be modified after their creation

1. iterable objects=list,set,tuple,dictionary,string, bin
2. sequence=list,tuple,string,bin
3. hashable type= string,tuple,integer and bool

TUPLE
1. unmutable
2. hashable type
3. iterable
4. sequence=iterable + ordered
5. {}

## keypoints  about Tuple

1. A tuple is a built-in data structure in Python that is an ordered collection of objects. Unlike lists, tuples come with   
   limited functionality.
   
2. tuple is hashable type

3. hashable type = string,tuple,integer and bool

4. Tuple can take as input as () inside this=list,tuple,set,number,bool,bin,dictionary,string {iterables as well as hashable objects}

5. a= tuple(b) [b=list,set,tuple,dictionary,bin and string ] all are iterables

6. a= comparatives operatives are performed

7. operations like --- (in  and not in) and (is and is not) are performed

8. and , or and not are performed

9. Tuples cannot  be modified, added, or deleted once they’ve been created

10. Indexing is done

11. If the tuple is empty, the user should include an empty pair of parentheses as follows:

    Empty_tuple= ()
    
12. t1+t2 {it do concatenation} where t1 and t2 are tuples

13. t1*n { it  do repeatation of l1 n times

14. 'tuple' object does not support item assignment
    like this t5[0]=t5[0]+"python"

15. #t=(12,23,34)
    #t6=()
    #t6=t6+t
    #t6
    this is valid

In [3]:
Empty_tuple= ()

In [1]:
my_tuple=tuple()

In [3]:
type(my_tuple)

tuple

In [5]:
my_tuple=("Krish","Ankur","John")

In [6]:
my_tuple

('Krish', 'Ankur', 'John')

##### tuple from list

In [7]:
t=([1,2],[2,3],[3])

In [8]:
t

([1, 2], [2, 3], [3])

##### tuple from set

In [11]:
t=({1,22,2,2},{3,4,5})

In [12]:
t

({1, 2, 22}, {3, 4, 5})

##### tuple from dictionary

In [15]:
t=({1:"a",2:"b",3:"c"},[3])

In [16]:
t

({1: 'a', 2: 'b', 3: 'c'}, [3])

In [17]:
t=(1)

In [18]:
t

1

In [19]:
type(t)

int

for single element  in tuple use comma in bracket

In [20]:
tu=(1,)

In [21]:
tu

(1,)

In [22]:
type(tu)

tuple

In [26]:
tu=("Krish","naik","Abhinav","Rao")

In [27]:
tu

('Krish', 'naik', 'Abhinav', 'Rao')

In [28]:
tu[0]

'Krish'

In [29]:
tu[0:2]

('Krish', 'naik')

In [30]:
tu[::-1]

('Rao', 'Abhinav', 'naik', 'Krish')

#### use of tuple is--in such application where the definition of item is required once

##### we cannot perform any operation on it we can replace it only

In [31]:
tu=("Krish","naik","Abhinav","Rao")

### inbuilt function

In [33]:
tu.count("Krish")

1

In [34]:
tu.index("Abhinav")

2

In [35]:
len(tu)

4

In [36]:
# Iterate over both sequences in list and tuple

#### list occupy more space than tuple

In [37]:
import sys

In [38]:
print(dir(sys))

['__breakpointhook__', '__displayhook__', '__doc__', '__excepthook__', '__interactivehook__', '__loader__', '__name__', '__package__', '__spec__', '__stderr__', '__stdin__', '__stdout__', '__unraisablehook__', '_base_executable', '_clear_type_cache', '_current_frames', '_debugmallocstats', '_enablelegacywindowsfsencoding', '_framework', '_getframe', '_git', '_home', '_xoptions', 'addaudithook', 'api_version', 'argv', 'audit', 'base_exec_prefix', 'base_prefix', 'breakpointhook', 'builtin_module_names', 'byteorder', 'call_tracing', 'callstats', 'copyright', 'displayhook', 'dllhandle', 'dont_write_bytecode', 'exc_info', 'excepthook', 'exec_prefix', 'executable', 'exit', 'flags', 'float_info', 'float_repr_style', 'get_asyncgen_hooks', 'get_coroutine_origin_tracking_depth', 'getallocatedblocks', 'getcheckinterval', 'getdefaultencoding', 'getfilesystemencodeerrors', 'getfilesystemencoding', 'getprofile', 'getrecursionlimit', 'getrefcount', 'getsizeof', 'getswitchinterval', 'gettrace', 'getwindowsversion', 'hash_info', 'hexversion', 'implementation', 'int_info', 'intern', 'is_finalizing', 'last_traceback', 'last_type', 'last_value', 'maxsize', 'maxunicode', 'meta_path', 'modules', 'path', 'path_hooks', 'path_importer_cache', 'platform', 'prefix', 'ps1', 'ps2', 'ps3', 'pycache_prefix', 'set_asyncgen_hooks', 'set_coroutine_origin_tracking_depth', 'setcheckinterval', 'setprofile', 'setrecursionlimit', 'setswitchinterval', 'settrace', 'stderr', 'stdin', 'stdout', 'thread_info', 'unraisablehook', 'version', 'version_info', 'warnoptions', 'winver']

In [39]:
print(help(sys.getsizeof))

Help on built-in function getsizeof in module sys:

getsizeof(...)
    getsizeof(object [, default]) -> int

    Return the size of object in bytes.

None

In [41]:
list_eg=[1,2,3,"a","b","c",True]
tuple_eg=(1,2,3,"a","b","c",True)

In [42]:
print("list size= ",sys.getsizeof(list_eg))
print("tuple size= ",sys.getsizeof(tuple_eg))

list size=  112
tuple size=  96

In [44]:
#lists-add,change,remove data
#tuple-cannot be changed,immutable
#tuple takes less time than list in creation

In [48]:
import timeit

In [53]:
list_test=timeit.timeit(stmt="[1,2,3,4,5]",number=100000)
tuple_test=timeit.timeit(stmt="(1,2,3,4,5)",number=100000)
print("time taken :",list_test)
print("time taken :",tuple_test)

time taken : 0.00920479999967938
time taken : 0.0016605999999228516

### another way to create tuple

In [25]:
# “unpack” values from a tuple into variables.

test=1,
test1=1,2
test2=1,2,3

In [58]:
print(test)
print(test1)
print(test2)

(1,)
(1, 2)
(1, 2, 3)

In [4]:
s=[21,"India","YES"]

In [5]:
age,country,python=s

In [6]:
print(age,country,python)

21 India YES

In [7]:
l=(21,"India","YES")
print(l)

(21, 'India', 'YES')

In [8]:
age,country,python=l
print(age,country,python)

21 India YES

In [10]:
a=(1,)
a

(1,)

In [2]:
t = 12345, 54321, 'hello!'

In [3]:
t

(12345, 54321, 'hello!')

In [4]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [5]:
u = t,

In [6]:
u

((12345, 54321, 'hello!'),)

In [7]:
u = t,

In [8]:
u

((12345, 54321, 'hello!'),)

In [9]:
u="2"

In [10]:
u

'2'

In [11]:
t1= (1, 2, 3, 4, 5)

In [12]:
t1

(1, 2, 3, 4, 5)

In [13]:
t1*4

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [14]:
t2=(4,5,6)

In [15]:
t1+t2

(1, 2, 3, 4, 5, 4, 5, 6)

In [43]:
2 in t1

True

In [44]:
min(t1)

1

In [45]:
max(t2)

6

In [47]:
t1

(1, 2, 3, 4, 5)

In [48]:
t1.index(1,1,4)

ValueError: tuple.index(x): x not in tuple

In [1]:
soft_skills = ["Communication", "Courtesy"]
info = (soft_skills, ) * 3 
print(info)

(['Communication', 'Courtesy'], ['Communication', 'Courtesy'], ['Communication', 'Courtesy'])

In [2]:
type(info)

tuple

# concept

In [4]:
info[0].append("Responsibility")

In [5]:
print(info)   #The new added value is added to the three lists because they’re referencing to the same object.

(['Communication', 'Courtesy', 'Responsibility'], ['Communication', 'Courtesy', 'Responsibility'], ['Communication', 'Courtesy', 'Responsibility'])

In [32]:
soft_skills = ("Communication", "Courtesy", "Flexibility", "Integrity", "Responsibility")
print(soft_skills[1:4])
print(soft_skills[:4])
print(soft_skills[:])
print(soft_skills[::2])
print(soft_skills[::-1])

('Courtesy', 'Flexibility', 'Integrity')
('Communication', 'Courtesy', 'Flexibility', 'Integrity')
('Communication', 'Courtesy', 'Flexibility', 'Integrity', 'Responsibility')
('Communication', 'Flexibility', 'Responsibility')
('Responsibility', 'Integrity', 'Flexibility', 'Courtesy', 'Communication')

In [6]:
#Tuples which contain only immutable values can be used as keys for a dictionary, while lists cannot.

book = {(1, 10): "Introducton", (11, 15): "Notation and Definitions", (16, 30): "Fundamental Algorithms"}
print(book[(1, 10)])

book = {[1, 10]: "Introducton", [11, 15]: "Notation and Definitions", [16, 30]: "Fundamental Algorithms"}

Introducton

TypeError: unhashable type: 'list'

In [8]:
#Tuples which contain only immutable values can be used as keys for a dictionary, while lists cannot.

book = {(1, True,"str",(1,)): "Introducton", (11, 15): "Notation and Definitions", (16, 30): "Fundamental Algorithms"}
print(book[(1,True,"str",(1,))])

book = {[1, 10]: "Introducton", [11, 15]: "Notation and Definitions", [16, 30]: "Fundamental Algorithms"}

Introducton

TypeError: unhashable type: 'list'

In [34]:
a=tuple(for x in range(4))

SyntaxError: invalid syntax (<ipython-input-34-b71a60ef9e3a>, line 1)

In [46]:
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print(id(t1),id(t2))

2893239134224 2893239060736

### important note


#Some objects contain references to other objects, these objects are called containers. Some examples of containers are a tuple, list, and dictionary. The value of an immutable container that contains a reference to a mutable object can be changed if that mutable object is changed. However, the container is still considered immutable because when we talk about the mutability of a container only the identities of the contained objects are implied.

###### tuple of lists

In [14]:
t=([1,2],[3,4],[5,6])

In [15]:
t[0]

[1, 2]

In [16]:
id(t)

2895350510592

In [49]:
t[0].append(3)

In [50]:
t

([1, 2, 3], [3, 4], [5, 6])

In [17]:
id(t)

2895350510592

###### tuple of sets

In [19]:
t=({1,2},{2,3,3,4})

In [20]:
t[0]

{1, 2}

In [21]:
id(t)

2895349684800

In [22]:
t[0].add(7)

In [23]:
t

({1, 2, 7}, {2, 3, 4})

In [24]:
id(t)

2895349684800

###### tuple of dictionary

In [25]:
td=({12:"a",22:"b"},{11:"wer"})

In [26]:
td[0]

{12: 'a', 22: 'b'}

In [27]:
td[0][12]

'a'

In [28]:
id(td)

2895349773888

In [29]:
td[0][12]="reter"

In [30]:
td

({12: 'reter', 22: 'b'}, {11: 'wer'})

In [32]:
id(td)

2895349773888

##### imp example

In [51]:
a=["Abhinav","Rao"]
t1=(a,)*3

In [52]:
t1

(['Abhinav', 'Rao'], ['Abhinav', 'Rao'], ['Abhinav', 'Rao'])

In [53]:
t1[0]

['Abhinav', 'Rao']

In [54]:
id(t1)

2895350529536

In [55]:
t1[0].append("beast")

In [56]:
t1[0]

['Abhinav', 'Rao', 'beast']

In [57]:
t1[1]

['Abhinav', 'Rao', 'beast']

In [58]:
t1

(['Abhinav', 'Rao', 'beast'],
 ['Abhinav', 'Rao', 'beast'],
 ['Abhinav', 'Rao', 'beast'])

In [59]:
id(t1)

2895350529536

In [98]:
#2


t2=["abhinav",(234)]

In [99]:
t2

['abhinav', 234]

In [100]:
t3=(t2,)*3

In [101]:
t3

(['abhinav', 234], ['abhinav', 234], ['abhinav', 234])

In [103]:
t3[0][1]="Rao"

In [104]:
t3

(['abhinav', 'Rao'], ['abhinav', 'Rao'], ['abhinav', 'Rao'])

In [13]:
list_values = [1, 2, 3]
set_values = (1, 2, 3)
print(id(list_values))
print(id(set_values))

list_values += [4, 5, 6]
set_values += (4, 5, 6)
print(id(list_values))
print(id(set_values))

2895350521088
2895350521472
2895350521088
2895350525280

In [7]:
#3
a="hello"
t5=(a,)*2

In [8]:
t5

('hello', 'hello')

In [9]:
t5[0]

'hello'

In [10]:
id(t5)

2364594846272

### eg1

In [11]:
t5[0]=t5[0]+"python"

TypeError: 'tuple' object does not support item assignment

In [13]:
type(t5)

tuple

In [14]:
t5=t5+"python",

TypeError: can only concatenate tuple (not "str") to tuple

### eg2

In [26]:
t5=t5+("python",)

In [27]:
t5

('hello', 'hello', 'python')

In [19]:
#4
t6=(1,2,3)
t7=t6

In [20]:
t7

(1, 2, 3)

In [21]:
t7=t6+(1,)

In [22]:
t7

(1, 2, 3, 1)

In [23]:
t7=t7+1,

TypeError: can only concatenate tuple (not "int") to tuple

In [24]:
t7=t7+(1,)

In [25]:
t7

(1, 2, 3, 1, 1)

#### ID in lists(mutable)

In [34]:
a=[1,2,3,4,5]
b=a

In [35]:
print(b)

[1, 2, 3, 4, 5]

In [36]:
a[0]=10

In [37]:
a

[10, 2, 3, 4, 5]

In [38]:
b

[10, 2, 3, 4, 5]

In [39]:
id(b)

2895350672640

In [40]:
id(a)

2895350672640

#### ID in strings(unmutable)

In [46]:
text="python"
text1=text

In [47]:
print(id(text))
print(id(text1))

2895319463536
2895319463536

In [48]:
text=text+" awesome"
text

'python awesome'

In [49]:
print(id(text))
print(id(text1))

2895351793968
2895319463536

In [50]:
text1

'python'

In [28]:
numbers = [1, 2, 3]
numbers2 = [1, 2, 3]
print(numbers == numbers2)
print(numbers is numbers2)

True
False

In [29]:
skills = ["Programming", "Machine Learning", "Statistics"]
person = (129392130, skills)
print(type(person))
print(id(person))
print(person)

skills[2] = "Maths"
print(person)
print(id(person))

<class 'tuple'>
2364595537408
(129392130, ['Programming', 'Machine Learning', 'Statistics'])
(129392130, ['Programming', 'Machine Learning', 'Maths'])
2364595537408